:root {
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-color: #2bb673;
  --swiper-pagination-bullet-inactive-color: #2bb673;
}
